<nav class="navbar navbar-expand-lg bg-white sticky-top border-bottom">
  <div class="container-fluid">
    <span class="navbar-brand" href="#">
      <img src="/images/nhs.png" alt="logo" class="navbar-logo" />
    </span>
    <a href="/logout"><span class="btn btn-danger">Logout</span></a>
  </div>
</nav>
